{%extends 'base.html'%}
{% load crispy_forms_tags %}
{%block content%}

<form method="post" class="p-5" style=" width : 50% ; margin : auto ; " novalidate>
    <h2>Update Password :</h2>
    {% csrf_token %}
    <!--{{form | crispy}}-->
    {% if form.non_field_errors%}
    {% for er in form.non_field_errors %}
     <p class=" bg-danger text-white p-3"> {{ er }} </p>
    {% endfor %}
    {% endif %}

      {% for frm in form%}
      {{ frm.label_tag }}
      {{ frm }}
      <p class="bg-dark text-danger m-1">{{ frm.errors | striptags }}</p> 
      <!-- ei field error ta webpage a show kortese -->
      {% endfor %}

    <button class="btn btn-secondary m-2 p-2" type="submit">Confirm Update</button>
    </form>

{%endblock%}