{%extends 'base.html'%}
{% load crispy_forms_tags %}
{%block content%}

<form method="post" class="p-5" style=" width : 50% ; margin : auto ; " novalidate>
    <h2>Login :</h2>
    {% csrf_token %}
    <!--{{form | crispy}}-->
    {% if form.non_field_errors%}
    {% for er in form.non_field_errors %}
     <p class=" bg-danger text-white p-3"> {{ er }} </p>
    {% endfor %}
    {% endif %}

      {% for frm in form%}
      {{ frm.label_tag }}
      {{ frm }}
      {{ frm.errors | striptags }}
      {% endfor %}

    <button class="btn btn-danger m-2 p-2" type="submit">login</button>
    </form>

{%endblock%}